:root {
  --light-purple: #BFA0EB;
  --medium-light-purple: #9754CB;
  --medium-dark-purple: #6237A0;
  --dark-purple: #28104E;
  --very-light-purple: #F7EBFF;
  --very-dark-purple: #53156B;
  --link-blue: #75D0FA;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: var(--very-light-purple);
  font-family: "Oxygen", sans-serif;
}

#title {
  margin-left: 60px;
  font-size: 50px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: var(--very-dark-purple);
}

#main {
  margin-right: 4vw;
  margin-left: 4vw;
  background-color: var(--medium-dark-purple);
  border-radius: 25px;
  padding: 15px;
  max-width: 700px;
}

.contact-info {
  padding: 5px;
  color: white;
}
.contact-info a {
  color: white;
}

.contact-info a:visited {
  color: white;
}