:root {
  --light-purple: #BFA0EB;
  --medium-light-purple: #9754CB;
  --medium-dark-purple: #6237A0;
  --dark-purple: #28104E;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: var(--light-purple);
  font-family: "Oxygen", sans-serif;
}

#title {
  margin-left: 50px;
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#main {
  margin-right: 30px;
  margin-left: 30px;
  background-color: var(--medium-dark-purple);
  border-style: solid;
  border-color: var(--medium-light-purple);
  border-radius: 25px;
  border-width: 3px;
  padding: 15px;
  max-width: 700px;
}

.contact-info {
  margin-left: 15px;
  padding: 5px;
  color: white;
}
.contact-info a {
  color: white;
}

.contact-info a:visited {
  color: white;
}

#footer {
  display: flex;
  align-items: center;
  position: absolute;
  height: 50px;
  bottom: 0;
  background-color: white;
  width: 100%;
  justify-content: right;
}

#contact {
  margin-right: 30px;
}