:root {
  --light-purple: #BFA0EB;
  --medium-light-purple: #9754CB;
  --medium-dark-purple: #6237A0;
  --dark-purple: #28104E;
  --very-light-purple: #F7EBFF;
  --very-dark-purple: #53156B;
  --link-blue: #75D0FA;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: var(--very-light-purple);
  font-family: "Oxygen", sans-serif;
}

#QA {
  margin: 0;
  padding-right: 20px;
  overflow-y: auto;
  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 100px);
  gap: 3px;
}

.question {
  background-color: var(--medium-dark-purple);
  padding-left: 18px;
  color: white;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin-left: 5vw;
}

.answer {
  display: none;
  margin-left: 7vw;
}

.plus {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: 20px;
  font-size: 40px;
  cursor: pointer;
}

#title {
  margin-left: 5vw;
  font-size: 50px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: var(--very-dark-purple);
}

#buffer {
  min-height: 50px;
}