:root {
  --light-purple: #BFA0EB;
  --medium-light-purple: #9754CB;
  --medium-dark-purple: #6237A0;
  --dark-purple: #28104E;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: var(--light-purple);
  font-family: "Oxygen", sans-serif;
}

#QA {
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 100px);
}

.question {
  border-style: solid;
  border-color: var(--medium-dark-purple);
  border-width: 2px;
  background-color: var(--medium-light-purple);
  padding-left: 6px;
  color: white;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin-left: 60px;
}

.answer {
  display: none;
  margin-left: 15px;
  margin-left: 80px;
}

.plus {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: 20px;
  font-size: 40px;
  cursor: pointer;
}

#title {
  margin-left: 40px;
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#footer {
  display: flex;
  align-items: center;
  position: absolute;
  height: 50px;
  bottom: 0;
  background-color: white;
  width: 100%;
  justify-content: right;
}

#contact {
  margin-right: 30px;
}