:root {
    --light-purple: #BFA0EB;
    --medium-light-purple: #9754CB;
    --medium-dark-purple:#6237A0;
    --dark-purple: #28104E;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: var(--light-purple);
  font-family: "Oxygen", sans-serif;
  justify-content:space-between;
  overflow-y: clip;
}

#main {
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 45px 10px 30px 20px;
}

.year {
  font-size: 35px;
  font-weight: bold;
  align-self: flex-start;
  margin-left: 10%;
}

.extra-credit {
  font-size: 20px;
  margin-left: 10%;
  padding-top: 10px;
}

.team {
  font-size: 20px;
  margin-left: 10%;
  padding-top: 10px;
  font-weight: bold;
}

.writers {
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  font-size: 20px;
  line-height: 35px;
  width: 500 px;
  padding-left: 10%;
}

.name {
  width: 210px;
}

#preamble {
  padding-left: 10%;
  font-size: 20px;
  padding-right: 5%;
}