:root {
  --light-purple: #BFA0EB;
  --medium-light-purple: #9754CB;
  --medium-dark-purple: #6237A0;
  --dark-purple: #28104E;
  --very-light-purple: #F7EBFF;
  --very-dark-purple: #53156B;
  --link-blue: #75D0FA;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: var(--very-light-purple);
  font-family: "Oxygen", sans-serif;
}

#main {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  scrollbar-gutter: stable;
}

#title {
  margin-left: 5vw;
  font-size: 50px;
  margin-bottom: 2vh;
  margin-top: 2vh;
  color: var(--very-dark-purple);
}

#square-container {
  padding-bottom: 10px;
  display: flex;
  gap: 10px;
  overflow-x: hidden;
  flex-wrap: wrap;
  overflow-y: auto;
  margin: auto;
  max-width: 1100px;
  justify-content: center;
  margin-top: 0;
  align-items: center;
  min-height: calc(96vh - 180px);
}

.resource {
  text-decoration: none;
}

.block {
  background-color: var(--medium-dark-purple);
  min-width: 250px;
  width: 250px;
  aspect-ratio: 1/1;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.block-header {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.block-content {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.block-content a {
   color: white;
}

.block-content a:hover {
  color: var(--light-purple);
}

@media (max-width: 535px) {
  #square-container {
    padding-bottom: 60px;
  }
}