:root {
  --light-purple: #BFA0EB;
  --medium-light-purple: #9754CB;
  --medium-dark-purple: #6237A0;
  --dark-purple: #28104E;
  --very-light-purple: #F7EBFF;
  --very-dark-purple: #53156B;
  --link-blue: #75D0FA;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: var(--very-light-purple);
  font-family: "Oxygen", sans-serif;
  overflow: hidden;
}

#main {
  width: 100vw;
  overflow-y: auto;
  max-height: calc(96vh - 180px);
  scrollbar-gutter: stable;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  margin: 0;
  margin-left: 60px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 50px;
  color: var(--very-dark-purple);
}

.tournament {
  background-color: var(--medium-light-purple);
  border-radius: 8px;
  height: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 1070px;
  width: 90vw;
  height: auto;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  padding: 8px;
  text-align: center;
}

.tournaments {
  display: none;
  flex-direction: row;
  gap: 5px;
  padding-top: 5px;
  max-width: 1070px;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
}

.tournaments a {
  text-decoration: none;
}

.tournaments div {
  background-color: var(--medium-dark-purple);
  border-radius: 25px;
  width: 150px;
  min-width: 150px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

#T0 {
  display: flex;
}