:root {
  --light-purple: #BFA0EB;
  --medium-light-purple: #9754CB;
  --medium-dark-purple: #6237A0;
  --dark-purple: #28104E;
  --very-light-purple: #F7EBFF;
  --very-dark-purple: #53156B;
  --link-blue: #75D0FA;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: var(--very-light-purple);
  font-family: "Oxygen", sans-serif;
}

#main {
  overflow-y: auto;
  scrollbar-gutter: stable;
  height: calc(100vh - 100px);
}

#main div {
  margin: 20px;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: var(--medium-dark-purple);
  border-radius: 25px;
  color: white;
  padding: 15px;
  max-width: 700px;
}

#main div a {
  color: var(--link-blue);
}

#main div a:visited {
  color: var(--link-blue);
}

#main div b {
  color: gold;
}

#title {
  margin-left: 60px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 50px;
  color: var(--very-dark-purple);
}

#footer {
  display: flex;
  align-items: center;
  position: absolute;
  height: 50px;
  bottom: 0;
  background-color: white;
  width: 100%;
  justify-content: right;
}

#contact {
  margin-right: 30px;
}